MATCHMAKER_CONFIG=examples/bevy_local_static/config/matchmaker.local.toml
GAME_SERVER_CONFIG=examples/bevy_local_static/config/game-server.local.toml
MATCHMAKER_PORT=3000
GAME_SERVER_PORT=7777
NATS_PORT=4222
NATS_MONITOR_PORT=8222
